:root {
    --marlin-purp: #624A64;
    --marlin-eye: #468CC7;
    --marlin-navy: #27283D;
    --marlin-highlight: #A6BCD1;
    --marlin-teal: #839EA0;
    
    --humu-yellow: #DCC26F;
    --humu-red: #83031E;
    --humu-white: #ECEBF4;
    --humu-green: #45BA7C;

    --parrot-pink: #f75d9d;
    --parrot-blue: #158DB8;
    --parrot-fuscia: #C8459F;
    --parrot-green: #95BB82;

    --vape-blue: #207193;
    --vape-light: #83CDE3;
    --vape-purp: #4D3370;
    --vape-yellow: #EFEDC9;
    --vape-highlight: #A9DCEC;
    --vape-shadow: #215C77;
}

body {
    margin: 0;
    padding: 0;
    background: var(--vape-shadow);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

/* placeholder colors */
.navbar {
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, var(--vape-light), var(--vape-blue));
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
}

header {
    padding: 1em;
    background: linear-gradient(to right, var(--vape-light), var(--vape-blue));
    margin-bottom: 1em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

h1 {
    text-align: center;
    color: var(--parrot-pink);
    font-family: 'Darumadrop One', cursive;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--parrot-fuscia);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

button {
    background-color: var(--parrot-blue);
    border: none;
    color: var(--humu-white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    width: 200px;
    border-radius: 5px;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
  }
  
  .splash-title {
    font-family: "Bangers", cursive;
    font-size: 10rem;
  }
  
  .splash-battleship-image {
    position: absolute;
    bottom: 5vh;
    left: 20vw;
    width: 100%;
    transform: rotateY(180deg);
    pointer-events: none;
    opacity: 0.25;
  }
  
  .btn {
    font-size: inherit;
    background-color: hsl(30, 100%, 50%);
    padding: 0.5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.2em;
    color: #333;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: hsl(30, 100%, 40%);
  }
  
  .splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
  }
  
  .splash-btn:first-child {
    margin-left: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .battleship-grid {
    margin: 2vmin;
    display: grid;
    background-color: hsl(200, 100%, 50%);
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
  }
  
  .grid-computer > .taken,
  .grid-computer > .boom {
    background-color: hsl(200, 100%, 50%) !important;
    border-radius: 0 !important;
  }
  
  .taken,
  .ship {
    position: relative;
    background-color: hsl(0, 0%, 80%);
  }
  
  .taken.start.vertical,
  .taken.start.vertical::before {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .taken.end.vertical,
  .taken.end.vertical::before {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .taken.start.horizontal,
  .taken.start.horizontal::before {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .taken.end.horizontal,
  .taken.end.horizontal::before {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .taken.vertical::before,
  .taken.horizontal::before {
    content: "";
    position: absolute;
    border: 0.3vmin solid white;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
  }
  
  .taken.horizontal::before {
    animation: ripplesY 3s linear infinite;
    border-left: none;
    border-right: none;
  }
  
  .taken.vertical::before {
    animation: ripplesX 3s linear infinite;
    border-top: none;
    border-bottom: none;
  }
  
  @keyframes ripplesX {
    0% {
      opacity: 1;
      transform: scaleX(1);
    }
  
    100% {
      opacity: 0;
      transform: scaleX(1.5);
    }
  }
  
  @keyframes ripplesY {
    0% {
      opacity: 1;
      transform: scaleY(1);
    }
  
    100% {
      opacity: 0;
      transform: scaleY(1.5);
    }
  }
  
  .grid-display {
    display: flex;
  }
  
  .ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
  }
  
  .ship {
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
    border-radius: 2.3vmin;
  }
  
  .battleship-grid div {
    border: 1px solid hsla(0, 0%, 100%, 0.2);
  }
  
  .destroyer-container {
    --width: 2;
  }
  
  .destroyer-container-vertical {
    --height: 2;
    --width: 1;
  }
  
  .submarine-container,
  .cruiser-container {
    --width: 3;
  }
  
  .submarine-container-vertical,
  .cruiser-container-vertical {
    --height: 3;
    --width: 1;
  }
  
  .battleship-container {
    --width: 4;
  }
  
  .battleship-container-vertical {
    --height: 4;
    --width: 1;
  }
  
  .carrier-container {
    --width: 5;
  }
  
  .carrier-container-vertical {
    --height: 5;
    --width: 1;
  }
  
  .hidden-info {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
  }
  
  .info-text {
    margin: 1rem;
  }
  
  .miss,
  .boom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boom::after,
  .miss::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
  }
  
  .miss::after {
    background-color: white;
  }
  
  .boom::after {
    background-color: red;
  }
  
  .miss::before {
    content: "";
    position: absolute;
    animation: hit 0.2s ease-out forwards;
    border: 1vmin solid white;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
  }
  
  .boom {
    animation: boom 0.2s ease-out forwards;
  }
  
  @keyframes hit {
    0% {
      opacity: 1;
      transform: scale(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(4);
    }
  }
  
  @keyframes boom {
    0% {
      background-color: red;
    }
  
    100% {
      background-color: hsl(0, 0%, 80%);
    }
  }
  
  .player {
    margin: 2vmin;
  }
  
  .connected,
  .ready {
    font-weight: normal;
    opacity: 0.25;
    text-decoration: line-through;
  }
  
  .connected.active,
  .ready.active {
    opacity: 1;
    text-decoration: none;
  }
  

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

