:root {
    --marlin-purp: #624A64;
    --marlin-eye: #468CC7;
    --marlin-navy: #27283D;
    --marlin-highlight: #A6BCD1;
    --marlin-teal: #839EA0;
    
    --humu-yellow: #DCC26F;
    --humu-red: #83031E;
    --humu-white: #ECEBF4;
    --humu-green: #45BA7C;

    --parrot-pink: #f75d9d;
    --parrot-blue: #158DB8;
    --parrot-fuscia: #C8459F;
    --parrot-green: #95BB82;
}

body {
    margin: 0;
    padding: 0;
    background: var(--marlin-navy);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

/* placeholder colors */
.navbar {
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, var(--marlin-highlight), var(--marlin-navy));
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
}

header {
    padding: 1em;
    background: linear-gradient(to right, var(--marlin-highlight), var(--marlin-navy));
    margin-bottom: 1em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

h1 {
    text-align: center;
    color: var(--parrot-pink);
    font-family: 'Darumadrop One', cursive;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--parrot-fuscia);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

button {
    background-color: var(--parrot-blue);
    border: none;
    color: var(--humu-white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    width: 200px;
    border-radius: 5px;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

